@import url("common.css");


/*  ν—¤λ”  */
header{
    background:#333;
    height:70px;
    width: 100%;
    padding:15px;
    position: fixed;
    top:0;
    left:0;
    z-index: 10;
    margin:0 auto;
}
header h1{}


main{
    margin-top:80px;
}

.visual{
    width:100%;
}
.visual ul{
    display: flex;
    flex-wrap:wrap;
}
.visual ul li{
    width:33%;
    padding:0.5px 2px;
}
.visual ul li a{}
.visual ul li a figure{
    margin:0;
    padding:0;
}
.visual ul li a figure img{
    width:100%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.2);
}







/*  ν‘Έν„°  */
footer{
    background:#333;
    padding:20px;
    text-align: center;
    margin-top:10px;
}
footer p{
    font-size:12px;
    color:#888;
}